<!DOCTYPE html>
<html>
	<head>
		<title>Mike MacCana</title>
		<link rel="stylesheet" href="../css/reset.css"/>
		<link rel="stylesheet" href="../css/ui.css">
		<link rel="stylesheet/less" type="text/css" href="../less/portfolio.less">
		<link rel="shortcut icon" href="/images/favicon.png"> 
		<script src="../js/lib/less-1.2.1.min.js"></script>
		<script src="../js/lib/jquery.js"></script>
		<script src="../js/lib/jquery.color.js"></script>
		<script src="../js/lib/jquery.quicksand.js"></script>
		<script src="../js/lib/jquery.scrollTo-1.4.2.js"></script>
		<script src="../js/lib/icanhas.js"></script>
		<script src="../js/pageload.js"></script>
		<script src="../js/works.js"></script>
	</head>
	<body>

		
	</body>	
</html>