<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../public/css/reset.css"/>
		<link rel="stylesheet/less" type="text/css" href="../public/less/portfolio.less">
		<script src="../public/js/less-1.2.1.min.js" type="text/javascript"></script>
		<script src="../public/js/jquery.js"></script>
		<script src="../public/js/jquery.color.js"></script>
		<script src="../public/js/jquery.quicksand.js"></script>
		<script src="../public/js/icanhas.min.js"></script>
		
		<script id="portfolio_template" type="text/html">
			<header>
				<div id="header_and_slogan">
					<h1>{{name}}</h1>
					<p class="slogan">&mdash;{{ slogan }}</a>
				</div>	
				<p id="last_tweet" class="quote">
					{{ last_tweet }}
				</p>
				
				<div class="clearfix"></div>
			</header>
			<nav>
				<div id="nav_container">
					<div id="highlight"></div>
					<ul>
						<li><a href="writing" class="selected">Writing</a></li>
						<li><a href="work">Work</a></li>
						<li><a href="art">Art</a></li>
						<li><a href="contact">Contact</a></li>
						<div class="clearfix"></div>
					</ul>
					<div class="clearfix"></div>
				</div>
			</nav>
			
			<section class="maincontent">
				<section class="main">
					{{# articles}}
						<article>
							<h2>{{ title }}</h2>
							<time datetime="{{ publication_date }}" pubdate>{{ publication_date }}</time>
							<p>{{ body }}</p>
						</article>
					{{/articles}}
				</section>
				<section class="sidebar">
					<p class="bio">{{ bio }}</a>	
					<h2>Contact</h2>
					<address>
						<a class="email" href="mailto:{{ email }}">{{ email }}</a><br> 
						<a class="twitter" href="https://twitter.com/{{ twitter }}">@{{ twitter }}</a>
					</address>
					
					
				</section>
			</section>
			
			<section class="maincontent">
				<ul id="works">
					{{# works}}
						<li data-id="{{ slug_name }}" class="work">
							<img src="http://lorempixel.com/240/135/"></src>
							<h2>{{ name }}</h2>
							<div class="year">{{ year }}</div>
							<div class="clearfix"></div>
							<p class="description">{{ description }}</a>
							<ul>
								{{# tags}}
									<li class="tag">{{ . }}</li>
								{{/tags}}
							</ul>
							{{#github}}<a href="http://www.github.com/mikemaccana/{{ github }}" class="github" target="_blank">On github &#0187;</a>{{/github}}
						</li>
					{{/works}}
				</ul>
				<div class="clearfix"></div>
			</section>
			<ul id="sorted_works">
			</ul>
			<footer>
				<p>&copy; {{ name }} {{ year }}</p>
				<p id="footer_message">{{ footer }}</p>
			</footer>
		</script>
		
		<script id="sorted_works_template" type="text/html">
			<ul id="sorted_works" class="hidden">
				{{# works }}
					<li data-id="{{ slug_name }}" class="work">
					
					<img src="http://lorempixel.com/240/135/"></src>
					<h2>{{ name }}</h2>
					<div class="year">{{ year }}</div>
					<div class="clearfix"></div>
					<p class="description">{{ description }}</a>
						<ul>
							{{# tags}}
								<li class="tag">{{ . }}</li>
							{{/tags}}
						</ul>				
					</li>
					
				{{/works}}
			</ul>
		</script>
		
		<script src="../public/js/portfolio.js"></script>
		
	</head>
	<body>
	</body>	
</html>