@darkgrey: #222;
@orange: hsl(378, 100%, 47%);
@headerblue: hsl(202, 120%, 20%);
@white: whiteSmoke;
@primary_base_font_size: 100%;
@secondary_base_font_size: 80%;
@golden_ratio: 1.6;

.headingfont {
    font-family: 'BellMTRegular';
    font-weight: normal;
    font-style: normal;
}

.centered_on_page {
	max-width: 960px;
	margin: 0 auto;	
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1pt;
}

.quote {
	font-style: oblique;
}

.quote:before {
	content: "“";
}

.quote:after {
	content: "”";
}

body {
	font-size: @primary_base_font_size;
	background-color: @white;
	color: @darkgrey;
}

header {
	padding: 20px 0;
	.centered_on_page;
}

#header_and_slogan {
	float: left;
}

h1 {
	font-size: @primary_base_font_size * @golden_ratio;
	.headingfont;
}

h2 {
	font-size: @primary_base_font_size * @golden_ratio;
	.headingfont;
}

p.slogan {
	position: relative;
	left: 70px;
	top: -10px;
	font-style: oblique;
	color: @orange;
}

p#last_tweet {
	float: right;
	text-align: right;
	font-size: @secondary_base_font_size;
	border-top: 1px solid @darkgrey;
	border-bottom: 1px solid @darkgrey;
	padding: 10px;
}

/* Nav */

nav {
	background-color: @headerblue;
	padding: 5px 40px;
}

nav #nav_container {
	.centered_on_page;
}

nav ul { 
	margin: 0 auto; 
	position: relative; 
}

nav li { 
	display: inline; 
}

nav a { 
	color: @white; 
	font-size: 64%;
	.uppercase;
	display: block; 
	float: left; 
	padding: 0 20px; 
	text-decoration: none; 
}

nav #highlight { 
	position: absolute; 
	bottom: 0px; 
	left: 0; 
	width: 100px; 
	height: 1px; 
	background: @white; 
}

/* Blog */

section.maincontent {
	min-height: 1000px;
	padding-top: 20px;
	.centered_on_page;
} 

section.main {
	width: 60%;
	float: left;
}

article {
	margin-bottom: 100px;
}

article > p {
	text-align: justify; 
	text-justify: newspaper;
}

/* Sidebar */

section.sidebar {
	width: 35%;
	float: right;
}

p.bio {
	font-style: oblique;
	padding-bottom: 20px;
}

address {
	font-size: @secondary_base_font_size;
}

/* Works */

#works {
}

li.work {
	display: block;
	margin: 20px;
	width: 240px;
	height: 384px;
	float: left;
	position: relative;
}

li.work > h2 {
	max-width: 80%;
	float: left;
}

.year {
	float: right;
}

p.description {
	font-style: oblique;
	line-height: 20px;
	padding: 10px 0;
}

li.tag {
	font-size: @primary_base_font_size / @golden_ratio;
	text-transform: uppercase;
	background-color: #777;
	color: white;
	display: block;
	float: left;
	border-radius: 2px;
	padding: 1px 4px;
	margin: 2px;
	cursor: pointer;
}

a.github {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-style: oblique;
	font-size: @secondary_base_font_size;
}

footer {
	min-height: 300px;
	padding-top: 50px;
	margin-top: 100px;
	background-color: @darkgrey;
	color: @white;
	text-align: center;
}

#footer_message {
	font-size: @secondary_base_font_size;
	padding-top: 10px;
}

section.sidebar > h2 {
	font-size: @secondary_base_font_size;
	color: @darkgrey;
	.uppercase;
}

/* Fonts */

@font-face {
	.headingfont;
    src: url('../fonts/bell_mt-webfont.eot');
    src: url('../fonts/bell_mt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bell_mt-webfont.woff') format('woff'),
         url('../fonts/bell_mt-webfont.ttf') format('truetype'),
         url('../fonts/bell_mt-webfont.svg#BellMTRegular') format('svg');
}

/* Hacks */

.clearfix {
	clear: both;
}

.hidden {
	display: none;
}

* { 
	box-sizing: border-box 
}

/* Missing from reset.css */

li {
	list-style-type: none;
}

a { 
	color: @darkgrey;
	text-decoration: none;
}

body {
	margin: 0;
}
