<section class="main">
	{{# articles}}
		<article>
			<h2>{{ title }}</h2>
			<time datetime="{{ publication_date }}" pubdate>{{ publication_date }}</time>
			<div class="clearfix">
			<p>{{ body }}</p>
		</article>
	{{/articles}}
</section>
<section class="sidebar">
	<p class="bio">{{ bio }}</a>	
</section>			

