<header>
	<div id="header_and_slogan">
		<h1>{{name}}</h1>
		<p class="slogan">&mdash;{{ slogan }}</a>
	</div>	
	<q>
		{{ last_tweet }}
	</q>
				
	<div class="clearfix"></div>
</header>
<nav>
	<div id="nav_container">
		<ul>
			<li><a href="/">Writing</a></li>
			<li><a href="/work">Work</a></li>
			<!-- ><li><a href="/art">Art</a></li> -->
			<li><a href="/contact">Contact</a></li>
			<div class="clearfix"></div>
		</ul>
	<div class="clearfix"></div>	
	</div>
</nav>

<section class="maincontent">
</section>
<div class="clearfix"></div>	

<footer>
	<p>&copy; {{ name }} {{ year }}</p>
	{{#footer}}
		<p>{{ . }}</p>
	{{/footer}}	
</footer>
